.input-wrapper {
    display: flex;
    flex-direction: column;
    background: #e3e3f5;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
}

.error-span {
    color: #d95104;
}


@media (prefers-color-scheme: dark) {
    .input-wrapper {
        background-color: #fcfcfc;
        color: #2222;
    }
}
