.enroll-card-container {
    display: flex;
    background: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 350px;
    box-sizing: border-box;
    border-radius: 15px;
    justify-content: space-between;
    cursor: pointer;
    margin: 8px 8px 24px;
    min-height: 140px;
    overflow: hidden;
}

.enroll-card-img img {
    width: 100%;
    box-sizing: border-box;
}

.enroll-card-footer {
    display: flex;
    justify-content: space-between;
}

.enroll-card-container:active {
    background: rgb(130, 173, 201);
}

.enroll-card-left {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enroll-card-title {
    font-size: 22px;
    font-weight: bold;
        color: #115E67;
}

.enroll-card-name {
    margin-top: 16px;
}

.enroll-card-right {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}


@media (max-width: 560px) {
    .enroll-card-container div{
        font-size: 16px;
    }

    .enroll-card-container {
        min-height: 80px;
    }
}

