.enroll-card-container {
    display: flex;
    background: #fcfcfc;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    width: 350px;
    box-sizing: border-box;
    border-radius: 15px;
    justify-content: space-between;
    cursor: pointer;
    margin: 8px;
    min-height: 140px;
}

.enroll-card-container:hover {
    background: rgb(161, 198, 222);
}

.enroll-card-container:active {
    background: rgb(130, 173, 201);
}

.enroll-card-left {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enroll-card-title {
    font-size: 22px;
    font-weight: bold;
        color: #115E67;
}

.enroll-card-name {
    margin-top: 16px;
}

.enroll-card-right {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #c0cfd0;
}
