.enroll-container {
    margin: 20px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    overflow-y: scroll;
    -webkit-box-flex: 1;
}

.enroll-container::-webkit-scrollbar {
    width: 5px;
}

.enroll-container::-webkit-scrollbar-thumb {
    background-color: #5f7172;
    border-radius: 2px;
}

