.main-link-container {
}

.main-link-header {
    color: #115E67;
    font-size: 120px;
    line-height: 121px;
    font-weight: 700;
    margin-bottom: 40px;
}

.main-link-title {
    padding-left: 10px;
    margin-bottom: 20px;
}

@media (max-width: 1150px) {
    .main-link-container {
        margin: 20px 0;
    }
    .main-link-header {
        font-size: 80px;
        line-height: 80px;
    }
}

@media (max-width: 560px) {
    .main-link-header {
        font-size: 40px;
        line-height: 40px;
    }
}
