.form-page-container {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0 auto;
    background: #FAFAFA;
    border-radius: 5px;
}

.form-page-center {
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-page-load {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-page-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-date-time {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.form-name {
    margin: 20px 10px;
}

.error-form {
    color: #d95104;
    margin: 0 0 13px 10px;
}

@media (prefers-color-scheme: dark) {
    .form-page-container {
        background-color: #fcfcfc;
        color: #2222;
    }
}
