.button-standard {
    width: 100%;
    height: 60px;
    background: #FF7C2A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.button-standard:hover {
    background: #fc6e1e;
}

.button-standard:active {
    background: #d95104;
}
