.admin-container {
    height: 100%;
    padding: 5px;
    margin: 0 auto;
}


@media (prefers-color-scheme: dark) {
    .admin-container {
        background-color: #fcfcfc;
        color: #2222;
    }
}
